In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
import os

In [4]:
os.getcwd()

'/content'

In [5]:
os.chdir('/content/drive/MyDrive/DS 4002/data')

In [6]:
import pandas as pd

df = pd.read_excel("Hotdog Survey (Responses).xlsx")

print(df.shape)
df.head()

(190, 7)

,Timestamp,Year at UVA,What is your Gender Identity?,What Schools are you a Part of?,Is a Hotdog a Sandwich?,How strongly do you feel about your previous answer?,How frequently do you eat hot dogs?
0,2026-01-14 13:51:44.672,Graduate Student,Man,Data Science,Yes,1,Never
1,2026-01-14 13:53:31.309,3rd Year,Woman,Engineering,Yes,3,Never
2,2026-01-14 13:53:34.682,3rd Year,Woman,"Arts and Sciences, Engineering",Yes,1,Never
3,2026-01-14 13:55:42.453,4th Year,Woman,Engineering,No,4,Never
4,2026-01-14 13:57:21.355,4th Year,Woman,Engineering,Yes,5,Occassionally (ex. once every few months)

In [7]:
for col in df.columns:
    print(repr(col))

'Timestamp'
'Year at UVA'
'What is your Gender Identity?'
'What Schools are you a Part of?'
'Is a Hotdog a Sandwich?'
'How strongly do you feel about your previous answer?'
'How frequently do you eat hot dogs?'

In [8]:
df = df.rename(columns={
    "Timestamp": "timestamp",
    "Year at UVA": "year",
    "What is your Gender Identity?": "gender",
    "What Schools are you a Part of?": "schools",
    "Is a Hotdog a Sandwich?": "is_sandwich",
    "How strongly do you feel about your previous answer?": "strength",
    "How frequently do you eat hot dogs?": "frequency"
})

print(df.columns.tolist())

['timestamp', 'year', 'gender', 'schools', 'is_sandwich', 'strength', 'frequency']

In [9]:
df["year"].value_counts(dropna=False)

year
4th Year                65
3rd Year                55
2nd Year                36
1st Year                19
Graduate Student        11
Other/Not Affiliated     4
Name: count, dtype: int64

In [11]:
undergrad_years = ["1st Year", "2nd Year", "3rd Year", "4th Year"]

df = df[df["year"].isin(undergrad_years)]

print("Rows after undergrad filter:", len(df))

Rows after undergrad filter: 175

In [12]:
df["is_sandwich"] = (
    df["is_sandwich"]
    .astype(str)
    .str.strip()
    .str.lower()
)

df["is_sandwich"].value_counts()

is_sandwich
no     104
yes     71
Name: count, dtype: int64

In [13]:
x = (df["is_sandwich"] == "yes").sum()
n = len(df)

print("x (yes responses):", x)
print("n (total rows):", n)
print("Sample proportion:", x / n)

x (yes responses): 71
n (total rows): 175
Sample proportion: 0.4057142857142857

In [14]:
from statsmodels.stats.proportion import proportions_ztest

z_stat, p_value = proportions_ztest(x, n, value=0.25)

z_stat, p_value

(np.float64(4.195074588016871), np.float64(2.7278180808712117e-05))